@font-face {
  font-family: 'Readex Pro';
  src: url('/fonts/ReadexPro/ReadexPro-Light.ttf');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Readex Pro';
  src: url('/fonts/ReadexPro/ReadexPro-Regular.ttf');
  font-style: medium;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Readex Pro';
  src: url('/fonts/ReadexPro/ReadexPro-Medium.ttf');
  font-style: medium;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Readex Pro';
  src: url('/fonts/ReadexPro/ReadexPro-SemiBold.ttf');
  font-style: medium;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Readex Pro';
  src: url('/fonts/ReadexPro/ReadexPro-Bold.ttf');
  font-style: medium;
  font-weight: 700;
  font-display: swap;
}

:root:not(.theme-dark) {
  --black: rgba(0, 0, 0, 0.05);
  --primary: #ff9c24;
  --bkg-dark: rgba(0, 0, 0, 0.05);
  --bkg-darker: rgba(0, 0, 0, 0.1);
  --bkg-darkest: rgba(0, 0, 0, 0.2);
  --text: rgba(0, 0, 0, 0.6);

  --tv-color-platform-background: transparent;
  --tv-color-pane-background: transparent;
  --tv-color-pane-background-secondary: var(--bkg-dark);
  --tv-color-toolbar-button-background-hover: transparent;
  --tv-color-toolbar-button-background-secondary-hover: var(--bkg-darker);
  --tv-color-toolbar-button-background-expanded: var(--bkg-dark);
  --tv-color-toolbar-button-text: var(--text);
  --tv-color-toolbar-button-text-hover: var(--primary);
  --tv-color-toolbar-button-text-active: var(--primary);
  --tv-color-toolbar-button-text-active-hover: var(--primary);
  --tv-color-item-active-text: var(--primary);
  --tv-color-toolbar-toggle-button-background-active: var(--primary);
  --tv-color-toolbar-toggle-button-background-active-hover: var(--primary);
}

.theme-dark:root {
  --black: rgba(0, 0, 0, 1);
  --white: rgba(255, 255, 255, 1);
  --highlight: #f2c94c;
  --primary: rgb(156, 163, 175);
  --bkg-light: rgba(255, 255, 255, 0.1);
  --bkg-dark: rgba(0, 0, 0, 0.1);
  --bkg-darker: rgba(0, 0, 0, 0.2);
  --bkg-darkest: rgba(0, 0, 0, 0.4);
  --text: rgba(255, 255, 255, 0.6);

  --tv-color-platform-background: transparent;
  --tv-color-pane-background: rgba(24, 24, 27, 0.9);
  --tv-color-pane-background-secondary: var(--bkg-dark);
  --tv-color-toolbar-button-background-hover: transparent;
  --tv-color-toolbar-button-background-secondary-hover: var(--bkg-darker);
  --tv-color-toolbar-button-background-expanded: var(--bkg-darkest);
  --tv-color-toolbar-button-text: var(--text);
  --tv-color-toolbar-button-text-hover: var(--highlight);
  --tv-color-toolbar-button-text-active: var(--highlight);
  --tv-color-toolbar-button-text-active-hover: var(--highlight);
  --tv-color-item-active-text: var(--black);
  --tv-color-toolbar-toggle-button-background-active: var(--white);
  --tv-color-toolbar-toggle-button-background-active-hover: var(--white);
}

html .chart-page {
  font-family: 'Readex Pro', sans-serif;
}

html .loading-indicator {
  background: transparent;
}

html .tv-spinner {
  color: var(--primary);
}

/* floating toolbar */

html .tv-grouped-floating-toolbar__widget-wrapper {
  background-color: var(--black);
}

html .tv-floating-toolbar__widget {
  border-left-color: var(--bkg-dark);
}

html
  .tv-linetool-properties-toolbar__color-picker
  .colorpicker-widget
  + svg
  .bg {
  fill: var(--black);
}

.tv-floating-toolbar__drag {
  background: var(--black);
}

html .container-RYiwcUsM {
  background: var(--black);
}

html .tv-floating-toolbar {
  border-color: var(--bkg-dark);
  background-color: var(--black);
  box-shadow: 0 2px 4px 0 0.2 #000;
}

.tv-linetool-properties-toolbar__icon svg {
  fill: var(--text);
}

html .tv-grouped-floating-toolbar__widget-wrapper:hover {
  background-color: var(--bkg-light);
}

html.theme-dark .chart-page .chart-container-border {
  border-top: 1px solid rgb(39, 39, 42);
  border-left: 1px solid rgb(39, 39, 42);
}

html.theme-dark .chart-page {
  border-bottom: 1px solid rgb(39, 39, 42);
}

/* html.theme-dark .pane-separator {
  background: rgb(39, 39, 42) !important;
} */
